.hero-section {
  background-image: url("/images/header.png");
}

.collection {
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
}

.f-con {
  li {
    a {
      transition: all ease-in-out 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }
}
